[submodule "lending"]
	path = lending
	url = https://github.com/ChiefWoods/lending.git
[submodule "lottery"]
	path = lottery
	url = https://github.com/ChiefWoods/lottery.git
[submodule "stablecoin"]
	path = stablecoin
	url = https://github.com/ChiefWoods/stablecoin.git
[submodule "vesting"]
	path = vesting
	url = https://github.com/ChiefWoods/vesting.git
